<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Envíos</title>
</head>
<body>
    <!-- Incluir el navbar -->
    {% include 'includes/navbar.html' %}

    <h1>Lista de Envíos</h1>
    <table>
        <thead>
            <tr>
                <th>Destinatario</th>
                <th>Dirección de Origen</th>
                <th>Dirección de Destino</th>
                <th>Peso</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for envio in envios %}
                <tr>
                    <td>{{ envio.destinatario_nombre }}</td>
                    <td>{{ envio.origen_direccion }}</td>
                    <td>{{ envio.destino_direccion }}</td>
                    <td>{{ envio.peso }}</td>
                    <td>{{ envio.estado }}</td>
                    <td>
                        <a href="{% url 'ver_envio' envio.id %}">Ver</a>
                        <a href="{% url 'editar_envio' envio.id %}">Editar</a>
                        <a href="{% url 'eliminar_envio' envio.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_envio' %}">Crear un nuevo Envío</a>
</body>
</html>
