<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a href="{% url 'lista_usuarios' %}">Usuarios</a></li>
            <li><a href="{% url 'crear_usuario' %}">Crear Usuario</a></li>
            <li><a href="{% url 'lista_envios' %}">Envíos</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Crear un Nuevo Usuario</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }} <!-- Renderiza el formulario con sus campos -->
            <button type="submit">Crear Usuario</button>
        </form>
        <a href="{% url 'lista_usuarios' %}">Volver a la lista de usuarios</a>
    </div>
</body>
</html>
