{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/base/_reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Página de inicio</title>
</head>
<body>
    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    
    <div class="dashboard-container">
        <div class="welcome-section">
            <h1>Bienvenido al sistema de CBE</h1>
        </div>
        
        <!-- Contenido principal del Dashboard -->
        <div class="dashboard-content">
            <h2>Resumen de tu actividad</h2>
            <p>Aquí se muestran las métricas y actividades más recientes del usuario.</p>
            
            <div class="metrics">
                <div class="metric">
                    <h3>Usuarios Registrados</h3>
                    <p>{{ usuarios_count }}</p>
                </div>
                <div class="metric">
                    <h3>Envíos Pendientes</h3>
                    <p>{{ envios_pendientes }}</p>
                </div>
                <div class="metric">
                    <h3>Mensajeros Activos</h3>
                    <p>{{ mensajeros_activos }}</p>
                </div>
                <div class="metric">
                    <h3>% Sobres Entregados</h3>
                    <p>{{ porcentaje_entregados }} %</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
